@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html{
    font-family: 'Space Mono', sans-serif;
}

:root{
    --primary-color-red:#F34213;
    --green:#127D87;
    --black:#000;
    --yellow:#FFC126;
    --violet-dark:#3E2F5B;
    --white:#FFF;
}

#home{
    background-color: var(--yellow);
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

#visit{
    background-color: var(--green);
    margin: 0;
    padding: 0;
}

#eat{
    background-color: var(--primary-color-red);
    margin: 0;
    padding: 0;
}

#sleep{
    background-color: var(--black);
    margin: 0;
    padding: 0;
}

#map{
    background-color: var(--violet-dark);
    margin: 0;
    padding: 0;
}

.screen{
    background-color: var(--primary-color-red);
    position: fixed;
    width: 100%;
    height: 100px;
    top:0;

}

header {
    position: sticky;
    top: 15px;
    background-color: var(--white);
    border-radius: 15px;
    
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 15px 15px 0px 15px;
    padding: 0px 25px 0px 25px;

}

header .logo{
    display: none;
}

header nav{
    display: none;
}

header .page__title{
    font-size: 36px;
    font-weight: bold;
    
}

/* Création du cta burger animé */

.cta__burger{
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    
}

/* Création de la barre du milieu */

.cta__burger span{
    width: 100%;
    height: 4px;
    background-color: var(--black);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

/* Utilisation des pseudo élements pour créer les deux autres barres */

.cta__burger span::before, .cta__burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--black);
    transition: transform 0.5s ease-in-out;
}

/* Positionnement de la barre supérieure et inférieure */

.cta__burger span::before{
    transform: translateY(-10px);
}

.cta__burger span::after{
    transform: translateY(10px);
}

/* Onclick, ajout de la classe open, disparition de la barre du milieu */

.cta__burger.open span{
    background-color: transparent;
}

/* Onclik rotation des deux barres restantes pour former une croix */

.cta__burger.open span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.cta__burger.open span::after{
    transform: translateY(0px) rotateZ(-45deg);
}

/* liste du menu burger temporairement en display none,
 enlever le DN pour naviguer entre les pages */

.menu__burger{
    display: none;
 }

 
.restaurant-card{
     background-color: var(--white);
     border-radius: 15px;
     margin: 15px;
     display: grid;
     grid-template-columns: 3fr 1fr ;
     padding:25px;
     grid-template-areas: 
         "title title"
         "img img"
         "adresse adresse"
         "tagline tagline"
         "description description"
         "siteWeb siteWeb"
         "tags likes"
     ;
    }

.nomRestaurant{
    
    grid-area: title;
    margin-block-start: 0;
    
}

.imgRestaurant{
    grid-area: img;
    border-radius: 15px;
    width: 100%;
    
}

.adresse{
    grid-area: adresse;
    padding: 15px 0px 15px 0px;
    display: inline-flex;
    align-items: center;


}
 .adresse p{
    margin-block-start: 0;
    margin-block-end: 0; 
    color: grey;
 }

 .adresse img{
     width: 40px;
     height: 40px;
     padding-right: 10px;
 }

.tagline{
    grid-area: tagline;
    font-weight: bold;
}

.description{
    grid-area: description;
    max-width: 600px;
}

.siteWeb{
    grid-area: siteWeb;
    color: var(--primary-color-red);
    font-weight:bolder;
    text-decoration: none;
    padding:0px;
}

.tags{
    grid-area: tags;
    display: grid;
    padding-inline-start: 0px;
}

li{
    list-style: none;
    font-style: italic;
}

.likes{
    grid-area: likes;
    text-align: center;
    align-self: center;
}
.nbrLikes{
    font-weight: bold;
    color: var(--primary-color-red);
}
.space{
    height: 150px;
}

#map-integration{
    width:auto;  
}
#map-integration iframe{
    width: 100%;
}
}

 @media only screen and (min-width: 480px) {
    .restaurant-card{
        background-color: var(--white);
        border-radius: 15px;
        margin: 15px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 2fr 1fr ;
        padding:25px;
        grid-template-areas: 
            "title img"
            "tagline img"
            "description img"
            "description adresse"
            "description siteWeb"
            "tags likes"
        ;
    }     

 }

