@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html{
    font-family: 'Space Mono', sans-serif;
}

#home{
    background-color: #FFC126;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

#visit{
    background-color: #127D87;
    margin: 0;
    padding: 0;
}

#eat{
    background-color: #F34213;
    margin: 0;
    padding: 0;
}

#sleep{
    background-color: #000;
    margin: 0;
    padding: 0;
}

#map{
    background-color: #3E2F5B;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 15px;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo{
    display: none;
}

header nav{
    display: none;
}

header .page__title{
    font-size: 36px;
    font-weight: bold;
}

/* Création du cta burger animé */

.cta__burger{
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
}

/* Création de la barre du milieu */

.cta__burger span{
    width: 100%;
    height: 4px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

/* Utilisation des pseudo élements pour créer les deux autres barres */

.cta__burger span::before, .cta__burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: transform 0.5s ease-in-out;
}

/* Positionnement de la barre supérieure et inférieure */

.cta__burger span::before{
    transform: translateY(-10px);
}

.cta__burger span::after{
    transform: translateY(10px);
}

/* Onclick, ajout de la classe open, disparition de la barre du milieu */

.cta__burger.open span{
    background-color: transparent;
}

/* Onclik rotation des deux barres restantes pour former une croix */

.cta__burger.open span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.cta__burger.open span::after{
    transform: translateY(0px) rotateZ(-45deg);
}

/* liste du menu burger temporairement en display none,
 enlever le DN pour naviguer entre les pages */

 .menu__burger{
    display: none;
 }
